body{
	background-color: blue;
}

#buttons-box{
	border: 20px dotted black;
	border-radius: 15px;
	text-align: center;
	background-color: white;
	padding: 150px;
	font-size: 25pt;
}

#secrets-box{
	background-color: lightgreen;
	width: 600px;
	font-family: cursive;
	color: black;
	margin: 0 auto;
}

button{
	background-color: black;
	color: white;
	width: 100px;
	height: 40px;
}

h2{
	text-align: center;
	padding-top: 50px;
	background-color: lightgreen;
	padding-bottom: 50px;
	margin-top: 250px;
}
ul{
	width: 175px;
	margin: 0 auto;
}
#go-away-box{
	width:600px;
	margin:0 auto;
	
}