body{
	background-color: lightblue;
}
#buttons-box{
	border: 5px dotted darkblue;
	border-radius: 25px;
	text-align: center;
	background-color: white;
	padding: 15px;
}
#secrets-box{
	border: 25px dotted green;
	border-radius: 50px;
	text-align: center;
	background-color: red;
	padding: 10px;
	font-family: cursive;
	color: blue;
	display: none;
}
#maybe-box{
	border: 25px dotted green;
	border-radius: 50px;
	text-align: center;
	background-color: red;
	padding: 10px;
	font-family: cursive;
	color: blue;
	display: none;
}
button{
	background-color: black;
	color: white;
	width: 100px;
	height: 40px;
}
#go-away-box{
	border: 25px dotted green;
	border-radius: 50px;
	text-align: center;
	background-color: red;
	padding: 10px;
	font-family: cursive;
	color: blue;
	display: none;
}
